{% extends 'Base/baseHead.html' %}
{% block bloque_nombre %}
        AuraGym | Clase
{% endblock bloque_nombre %}

{% block bloque_nav_items %}
    <!-- Habilita modificación del clase SÓLO para su autor -->
    {% if request.user.is_authenticated and clase.autor == request.user %}
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href={% url 'editar_clase' clase.id %}><i class="bi bi-pencil"></i> Editar</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href={% url 'borrar_clase' clase.id %}><i class="bi bi-trash"></i> Eliminar</a></li>
    {% endif %}
{% endblock bloque_nav_items %}

<!-- clase Header -->
{% block bloque_header %}
    <header class="clase" style="background-image: url('{{ clase.imagen.url }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="clase-heading">
                        <br>
                        <br>
                        <br>
                        <h1>{{ clase.nombre }}</h1>
                        <h2 class="subheading">{{ clase.descripcion }}</h2>
                        <br>
                        <span class="meta">
                            De: {{ clase.autor }}
                            <br>
                            Fecha: {{ clase.fecha_creacion }}.
                            <br>
                            <br>
                            <br>
                            <br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock bloque_header %}

<!-- clase Content -->
{% block bloque_contenido %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <br>
                    <br>
                    {{ clase.rutina | safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock bloque_contenido %}